<!doctype html>
<!--[if lt IE 7]>
<html class="no-js ie6 ie" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js ie7 ie" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js ie8 ie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head prefix="{% block head_prefix %}og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#{% endblock %}">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page_title }}{% if page_title %} :: {% endif %}Project Title</title>
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="author" content="Colby Palmer">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  {% block og_tags %}
    <meta property="og:title" content="{% block og_title %}DEFAULT TITLE HERE{% endblock %}">
    <meta property="og:description" content="{% block og_description %}DEFAULT DESCRIPTION HERE{% endblock %}">
    <meta property="og:type" content="{% block og_type %}website{% endblock %}">
    <meta property="og:image" content="http://{{ request.get_host }}{% block og_img %}{{ STATIC_URL }}img/logo_main.png{% endblock %}">
    {% block extra_og_tags %}{% endblock %}
  {% endblock og_tags %}
  <meta property="og:url" content="{% block fb_og_url %}http://{{ request.get_host }}{{ request.get_full_path }}{% endblock %}">
  <meta property="og:site_name" content="SITE NAME HERE">
  <meta property="fb:admins" content="FACEBOOK ID HERE" />

  <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon">
  <link href="{{ STATIC_URL }}style/site.css" rel="stylesheet"/>
  <!--[if lt IE 9]>
    <script src="{{ STATIC_URL }}script/libs/html5shiv.min.js"></script>
  <![endif]-->
  {% block extra_stylesheets %}{% endblock %}
  {% block extra_head %}{% endblock %}
  <script src="{{ STATIC_URL }}script/libs/modernizr.min.js"></script>
</head>

<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
  <div class="body__container">
    <header class="header--main">
      <nav class="nav--main">
        <a href="" class="nav__a{% if '/path_name/' in request.path %} nav__a--active{% endif %}">Nav Item</a>
      </nav>
      <h1 class="header__heading">
        <a href="/" class="header__a">
          <span class="header__title">Project Title Goes Here</span>
          <span class="header__subtitle">Page subtitle goes here</span>
        </a>
      </h1>
    </header>

    <main class="content--main" role="main">
      {% block site_main %}{% endblock %}
    </main>
  </div>

  <footer class="footer--main">
    <div class="footer__container">
      <p class="footer__copyright">&copy; 2015 Zaphod Beeblebrox. <span>All rights reserved.</span></p>
    </div>
  </footer>

{% block extra_body %}{% endblock %}
<script src="{{ STATIC_URL }}script/site.min.js"></script>
{% block extra_scripts %}{% endblock %}

{% if settings.GOOGLE_ACCOUNT_CODE and not debug %}
  <!-- Google analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ GOOGLE_ACCOUNT_CODE }}', 'auto');
    ga('send', 'pageview');
  </script>
{% endif %}


<script type="text/javascript">


  {% block extra_javascript %}{% endblock %}
  $(document).ready(function () {

    {% block extra_jquery %}
    {% endblock %}
  });
</script>

</body>
</html>
