Django==1.11.3
Pillow==4.2.1
Werkzeug==0.12
django-crispy-forms==1.6.1
django-debug-toolbar==1.8
django-extensions==1.8.1
django-grappelli==2.10.1
django-parsley==0.6
psycopg2==2.7.1
six==1.10.0
sqlparse==0.2.3
wsgiref==0.1.2
