@import 'manifest';

//@include edit();

@mixin container {
  @include center($max-width);
  margin: 0 auto;
}

@mixin side_gutters {
  padding-left: 1em;
  padding-right: 1em;

  @include breakpoint($large-width + 2) {
    padding-left: 0;
    padding-right: 0;
  }
}

@mixin visually_hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin text_hidden {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}


/* -------------    ANIMATIONS     -----------------*/




/* -------------    HEADER AND NAV     -----------------*/

.header--main {
  height: 85px;
  margin-bottom: 85px;
  overflow: visible;

  @include breakpoint(small){
    margin-bottom: 20px;
  }
}

.header__heading {
  height: 0;
  text-align: center;
  padding-bottom: 85px;
  font-size: 2.25em;
  overflow: visible;
  display: inline-block;
}

.header__subtitle {
  font-size: 0.5em;
}

.nav--main {
  margin: 0px auto 0px -161px;
  width: 85px;
  position: absolute;
  top: 111px;
  left: 50%;
  text-align: center;
  display: block;

  @include breakpoint(small){
    margin-right: 1em;
    top: 1px;
    right: 0;
    left: auto;
  }

  @include breakpoint(large){
    margin-right: 0;
  }
}

.nav__a {
  float: right;
  display: block;
  margin-left: 1px;
  padding: 20px 0px 7px;
}


/* -------------    FOOTER     -----------------*/

.footer--main {
  height: 95px;
  margin: -70px 0 0;
  display: block;
  clear: both;
  width: 100%;
}

.footer__container {
  @include container;
  @include side_gutters;
}

.footer__copyright {
  text-align: center;
  text-transform: none;
  margin-top: 1.7em;
  margin-left: 12px;

  @include breakpoint(pocket) {
    margin-top: 1.7em;
  }
  @include breakpoint(small) {
    margin-top: 1.4em;
  }
  @include breakpoint(medium) {
    margin-top: 1.4em;
  }
  @include breakpoint(large) {
    text-align: left;
  }
}


/* -------------    GLOBAL     -----------------*/

html, body {
  height: 100%;
}

body {
  -webkit-text-size-adjust: 100%;
}

::selection, ::-moz-selection {
  background: rgba(200, 175, 244, 0.8);
}

.body__container {
  min-height: 100%;
  padding-bottom: 80px;
}

.content--main {
  @include container;
  @include side_gutters;
}

.sidebar--left {
  display: none;

  @include breakpoint(medium) {
    display: block;
    @include col(1/3);
  }
}

.main--left {

  @include unstack;
  @include breakpoint(medium) {
    @include col(2/3);
  }
}

.sidebar--right {
  @include stack;
  margin-top: 2.5em;

  @include breakpoint(medium) {
    @include unstack;
    @include col(1/3);
    margin-top: 0.55em;
  }
}

.main--right {

  @include breakpoint(medium) {
    @include col(2/3);
  }
}


/* -------------    UTILITY     -----------------*/

.hidden {
  @include visually_hidden;
}


/* -------------    MODALS     -----------------*/

.mfp-bg {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-figure:after {
  background: #000;
  opacity: 1;
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
  padding: 0;
}

/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
  top: 0;
  bottom: 0;
}

/* padding for main container */
.mfp-no-margins .mfp-container {
  padding: 0;
}

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  background-color: white;
  border-radius: 0.5em;
  padding: 1.5em 2em;
  width: 70%;
}
