// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: $helvetica;
$serif: "Libre Baskerville", $georgia;

$base-font-family: $sans-serif;
$header-font-family: $sans-serif;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);

// Colors
///////////////////////////////////////////////////////////////////////////////

$blue: #1352a6;
$dark-blue: #06316c;
$light-blue: #4782d3;
$lighter-blue: #6c97d3;
$flat-blue: #2a4d7d;
$yellow: #FCC908;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #d9d8f5;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// Highlight color
$highlight: #cdddf9;


// Body Color
$base-body-color: white;

//  Font Colors
$base-font-color: #222;
$base-accent-color: $blue;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: lighten($base-accent-color, 15);

// Border color
$base-border-color: $light-gray;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;
